body {
  font-family: 'Roboto';
}

.page-header {
}
.nav {
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.top-line {
}
.top-line-item {
}
.top-line-link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.contacts {
}
.contacts-item {
}
.contacts-item-link {
}
.section-cap {
  background: #2f303a;
}
.cap-title {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.section-main {
}
.main-list {
}
.main-item {
}
.main-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.main-text {
    letter-spacing: 0.03em;
    color: #757575;

}
.section-items {
}
.title-items,
.team-title {
    letter-spacing: 0.03em;
color: #212121;
}
.items-list {
}
.items-item {
}
.image-items {
}
.section-team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-image {
}
.team-name {
}
.team-text {
}
.footer {
}
.address {
}
.list-address {
}
.item-address {
}
.link-address {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
